*{
    font-family: 'Trebuchet MS';
}

#home-container{
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    height:99%;
    /* border: 3px solid rgb(0, 255, 26); */
    font-size: 15px

}
.div-body-container{
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    height: 90.5%;
    /* width: 100%; */
    /* flex-direction: column; */

}
/* Home */
.div-container-home{
    /* border: 3px solid blueviolet; */
    width: 80%;
    padding-inline: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* welcome name */
h2,h3{
    margin-block: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 3px solid yellow; */
}

/* Input Table */
.div-input-tabel{
    /* border: 3px solid chocolate; */
    width: 85%;
    margin-block: 5px;
    padding-block: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.select-amount, input,.btn-add{
    margin-block: 3px;
}
.select-amount{
    border: 1px solid #aaaaaaee;
    border-radius: 5px;
}
.input-table{
    width: 23%;
    padding: 7px;
    /* padding-left: 10px; */
    border: 1px solid #aaaaaaee;
    border-radius: 5px;
    transition: border-color 0.9s, box-shadow 0.3s;
}
.input-table:focus{
    padding: 6px;
    border: #409cff solid 2px;
    outline: none;
}
.btn-add{
    padding: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(195, 195, 195);
    color: white;
}
.btn-add{
    background-color: #008f16;
}
.btn-add:hover{
    cursor: pointer;
    background-color: #029918;
}
.btn-add:active{
    background-color: #00b91c;
}

/* Table */
.div-table{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 130%; /* Puedes ajustar la altura según necesites */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
    border: 1px solid #ccc; /* Añadir un borde para mejor visualización */
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* padding-bottom: 5px; */
}
/* table,th,td {
    border: 1px solid black;
    border-radius: 5px;
} */
th{
    padding-block: 8px;
    text-align: center;
    width: 50%;
}
td {
    padding: 8px;
    text-align: left;
}
.column-transaction{
    border-right: 2px solid #158796 ;
}
/* ----- table class ----- */
.styled-table {
    border-collapse: collapse;
    margin-bottom: 5px;
    /* margin: 25px 0; */
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 400px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    /* border: 3px solid greenyellow; */
}
.styled-table thead tr {
    background-color: #158796;
    color: #ffffff;
    text-align: left;
}
/* .styled-table th, */
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #158796;
    
}
/* .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
} */