body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
}

.navbar{
    font-size: 20px;
    /* background-color: rgb(0, 15, 48); */
    background-color: #001D36;
    height: 65px;
    /* width: 99%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 3%; */
}
.navbar .div-btn-git{
    width: 30%;
    padding-left: 20px;
    display: flex;
    justify-content: start;
}
.btn-github{
    color: rgb(0, 200, 255);
    border: 2px solid  rgb(0, 200, 255);
    border-radius: 5px;
    background-color: #001D36;
    box-shadow: 0 0 3px rgb(0, 119, 255);
}
.a{
    text-decoration: none;
    color: rgb(0, 200, 255);
}
.navbar .div-title{
    color: white;
    width: 60%;
    min-width: 80px;
    margin-inline: 5px;
    padding-inline: 5px;
    display: flex;
    justify-content: center;

}
.navbar .div-container-btn{
    /* padding-right: 10px; */
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
}
.btn-logout{
    color: rgb(0, 0, 0);
    border: 2px solid  #ffffff;;
    /* border: none; */
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 3px rgb(217, 255, 0);
}
.btn-logout:hover{
    cursor: pointer;
}
.btn-logout:active{
    background-color: #d5d5d5;
}

@media (max-width:268px) {
    .navbar .div-btn-git{
        padding: 5px;
    }
    .navbar .div-container-btn{
        padding: 0;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.navbar .div-profile,
.navbar .div-logout {
    display: flex;
    padding-block: 3px;
    padding-inline: 3px;
}

.link-profile{
    text-decoration: none;
    color: white;
}

@media (max-width:500px) {

    .btn-logout{
        display: none;
        padding-block: 3px;
        padding-inline: 3px;
    }
}
@media (max-width:300px) {
    .navbar .div-btn-git{
        padding: 0px;
        justify-content: end;
    }
    .navbar .div-container-btn{
        padding: 0;
        justify-content: center;
        flex-wrap: wrap;
    }
    .navbar .div-title{
        /* color: white; */
        width: 30%;
        min-width: 80px;
        margin-inline: 0px;
        padding-inline: 0px;
    }
    .btn-logout{
        display: none;
        padding-block: 3px;
        padding-inline: 3px;
    }
    .div-logout{
        /* display: none; */
        padding-block: 0px;
        padding-inline: 0px;
    }
}
/* .profile{
    /* border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90%;
    height: 30px;
    width: 30px; */
    /* margin: 20px; */
    /* margin-bottom: 15px; */
    /* width: 140px; */
    /* Ajusta el ancho*/
    /* height: 140px; */
    /* overflow: hidden; */
    /* border: 1px solid rgb(233, 233, 233); */
    /* border-radius: 90%; */
    /* margin: 20px;
    margin-bottom: 5px; */
/* } */
/* .div-img-btn{
    display: flex;
    justify-content: center;
    height: 35px;
    width: 26px;
    border-radius: 90%;
} */
/* .img-profile{
        display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    Ajusta al 100% para llenar el contenedor cuadrado
    object-fit: cover;
} */
